.bann-container {
  position: relative;
  height: 70vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay-text {
  background: rgba(180, 160, 14, 0.6);
  padding: 50px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  text-align: center;
}

.intro-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.strong {
  color: #de5f5e; /* Customize your brand color */
}

.intro-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  line-height: 1.6;
  margin: 30px auto;
}

.cta-button {
  display: inline-block;
  background-color: #de5f5e;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.cta-button.secondary {
  background-color: #4a90e2;
}

.cta-button:hover {
  background-color: #c94c4b;
}

.about-photographer {
  margin-top: 40px;
}

.sub-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-description {
  font-size: 1rem;
  margin-bottom: 30px;
}

.featured-services {
  margin-top: 30px;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-item {
  margin: 20px;
  max-width: 300px;
  text-align: left;
}

.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Mobile CSS */
@media (max-width: 768px) {
  .overlay-text {
    padding: 30px;
    width: 90%;
    background-color: transparent;
    height: fit-content;
  }

  .intro-title {
    font-size: 2.5rem;
  }

  .intro-description {
    font-size: 1rem;
    max-width: 100%;
  }

  .cta-button {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .about-photographer {
    margin-top: 30px;
  }

  .sub-title {
    font-size: 1.8rem;
  }

  .about-description {
    font-size: 0.9rem;
  }

  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    max-width: 100%;
    margin: 10px 0;
  }
}

/* Mobile for smaller screens */
@media (max-width: 480px) {
  .intro-title {
    font-size: 2rem;
  }

  .intro-description {
    font-size: 0.9rem;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .sub-title {
    font-size: 1.6rem;
  }

  .about-description {
    font-size: 0.8rem;
  }

  .service-item h3 {
    font-size: 1.3rem;
  }

  .service-item p {
    font-size: 0.9rem;
  }
}
