/* Container for the whole gallery */
.gall-container {
  width: 100vw;
  margin: auto;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background: wheat;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  top: 70px;
  gap: 10px;
  margin-bottom: 0;
}

/* Album title */
.album h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
}

/* Grid layout */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px; /* Add spacing between the grid items */
}

/* Individual gallery item */
.gallery-item {
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: white;
  border: 15px solid black;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.gallery-item:hover {
  transform: translateY(-5px) scale(1.03);
}

/* Image styling */
.gallery-img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: auto;
  filter: grayscale();
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox-controls {
  display: flex;
  align-items: center;
}

.lightbox-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive View for Mobile */
@media screen and (max-width: 768px) {
  /* Adjust grid layout for mobile */
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* Two images per row */
    gap: 10px; /* Reduced gap for smaller screens */
  }

  /* Image styling for smaller screens */
  .gallery-img {
    width: 100%;
    height: 300px;
  }

  .gallery-item {
    padding: 10px; /* Reduce padding for smaller screens */
    background-color: white;
    border: 5px solid black;
  }

  .album h2 {
    font-size: 1rem; /* Smaller font for album title on mobile */
    text-align: left;
  }
}
